<!doctype html>
<head>
	<title>homeDictator</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="{{ url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
	<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static',filename='js/plotly-latest.min.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
	<script>
		 $(document).ready(function() {
		$('select').material_select();
		$('.button-collapse').sideNav();
	  });
	</script>
</head>
<body>
	<nav class="grey darken-3">
		<div class="nav-wrapper">
		  <a href="#!" class="brand-logo right">homeDictator</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse">
		  	<i class="material-icons">menu</i>
		  </a>
		  <ul  id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="/"><i class="material-icons left">home</i>Home</a></li>
			<li><a href="/cancella"><i class="material-icons left">mode_edit</i>Cancella</a></li>
		  </ul>
		   <ul class="side-nav" id="mobile-demo">
		   	<li><div class="userView">
		   		<div class="background">
		   			<img src="{{ url_for('static',filename='img/low-poly.jpg')}}">
		   		</div>
		   		<a href="#!user"><img class='circle' src="{{ url_for('static',filename='img/avatar.jpg')}}"></a>
		   		<a href="#!name">Gabe Newell</span></a>
		   		<a class="waves-effect waves-light btn"><i class="material-icons left">input</i> Logout </a>
		   		
		   	</div></li>

			<li><a href="/"><i class="material-icons left">home</i>Homeslide</a></li>
			<li><a href="/cancella"><i class="material-icons left">mode_edit</i>Cancella</a></li>

		  </ul>
		</div>
	</nav>
	<div class="row">
		<div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
				<form method="POST" action="/">
					<div class="input-field">
						<select name="nome">
							<option value="" disabled selected>Nome</option>
							{% for nome in nomi %}
							<option value="{{ nome[0] }}">{{ nome[0] }}</option>
							{% endfor %}
						</select>
					</div>
					<select name="attivita">
					<option value="" disabled selected>Attività</option>
					{% for a in attivita %}
						<option value="{{ a }}">{{ a }}</option>
					{% endfor %}
					</select>
					<button type="submit" class="waves-effect waves-light btn blue">Aggiungi</button>
				</form>
            </div>
          </div>
			<div class="card">
				<div class="card-content white-text">
				  <div id="myDiv"></div>
				  <script>
						var data = [{
						type: 'bar',
						y: [
							{% for entry in p.punteggi %}
							{{ p.punteggi[entry] }},
							{% endfor %}
						],
						x: [
							{% for entry in p.punteggi %}
							'{{ entry }}',
							{% endfor %}
						],
						}];
						Plotly.newPlot('myDiv', data);
				  </script>
				</div>
			</div>
		</div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
				<form method="POST" action="/paga">
        			<div class="col s6 m6">
						<div class="input-field">
							<select name="nome">
								<option value="" disabled selected>Nome</option>
								{% for nome in nomi %}
								<option value="{{ nome[0] }}">{{ nome[0] }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="input-field">
							<label>Importo €</label>
							<input type="number" name="importo" step="0.01" min="0">
						</div>
						<div class="input-field">
							<label>Descrizione</label>
							<input type="text" name="descrizione">
						</div>
					</div>
        			<div class="col s6 m6">
						<div class="input-field">
						  <table>
					        <tbody>
					          {% for nome in nomi %}
								<tr>
								  <td>{{ nome[0] }}</td>
								  <td><input type="number" name="{{ nome[0] }}" value="1" min="0"></td>
								</tr>
					          {% endfor %}
					        </tbody>
					      </table>
				        </div>
					</div>
					<button type="submit" class="waves-effect waves-light btn blue">Aggiungi</button>
				</form>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
			  <table>
		        <tbody>
		          {% for nome in nomi %}
					<tr class="
					  {% if(nome[1] < 0) %}
					  {{ 'red darken-4' }}
					  {% endif %}
					  {% if(nome[1] > 0) %}
					  {{ 'green darken-4' }}
					  {% endif %}
					  ">
					  <td>{{ nome[0] }}</td>
					  <td>{{ "{0:.2f}".format(nome[1]) }} €</td>
					</tr>
		          {% endfor %}
		        </tbody>
		      </table>
            </div>
          </div>
        </div>
        <div class="container">
        	<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        		<form class="col s12" method="post" action="/login">
        			<div class='row'>
        				<div class='col s12'>
        				</div>
        			</div>

        			<div class='row'>
        				<div class='input-field col s12'>
        					<input  type='text' name='username' id='email' />
        					<label for='email'>Enter your email</label>
        				</div>
        			</div>

        			<div class='row'>
        				<div class='input-field col s12'>
        					<input class='validate' type='password' name='password' id='password' />
        					<label for='password'>Enter your password</label>
        				</div>
        				<label style='float: right;'>
        					<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
        				</label>
        			</div>

        			<br />
        			<center>
        				<div class='row'>
        					<button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        				</div>
        			</center>
        		</form>
        	</div>
      </div
      </div>
</body>
