<!DOCTYPE html>
<head>
	<title>homeDictator</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="{{ url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/material-icon.css')}}" rel="stylesheet">
	<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/Chart.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
	<script>
		 $(document).ready(function() {
		$('select').material_select();
		$('.button-collapse').sideNav();
		$('#dropnav').dropdown({ hover: true, belowOrigin: false ,constrainWidth: false});
		$('#dropbar').dropdown({ hover: false, belowOrigin: false });
	  });
	</script>
</head>
<body>
{%include 'navbar_sidebar.html'%}
	{%if error%}
	<div class="row">
		<div class="col s12">
			<div class="card">
	            <div class="card-content white-text">
	            <span>{error}</span>
	            </div>	
			</div>
		</div>
		{%endif%}
		<div class="row">
			{%if nome %}
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content white-text">
						<form method="POST" action="/">
							<div class="input-field">
							</div>
							<select name="attivita">
								<option value="" disabled selected>Attività</option>
								{% for a in attivita %}
								<option value="{{ a }}">{{ a }}</option>
								{% endfor %}
							</select>
							<button type="submit" class="waves-effect waves-light btn blue">Aggiungi</button>
						</form>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content white-text">
						<canvas id="myChart"></canvas>
						<script>
							var ctx = document.getElementById("myChart");
							var myChart = new Chart(ctx, {
								maintainAspectRatio: false,
								type: 'bar',
								data: {
									labels: [   {% for entry in p.punteggi %}
									'{{ entry }}',
									{% endfor %}
									],
									fontColor: '#fff',
									datasets: [{
										data: [ {% for entry in p.punteggi %}
										{{ p.punteggi[entry] }},
										{% endfor %}
										],
										backgroundColor: '#2196F3'
									}]
								},
								options: {
									scales: {
										yAxes: [{
											ticks: {
												beginAtZero:true
											}
										}]
									},
									legend: {
										display: false,
									}
								}
							});
						</script>
					</div>
				</div>
			</div>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-content white-text">
					<form method="POST" action="/paga">
						<div class="col s6 m6">
							<div class="input-field">
								<select name="nome">
									<option value="" disabled selected>Creditore</option>
									{% for nome in nomi %}
									<option value="{{ nome[0] }}">{{ nome[0] }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="input-field">
								<label>Importo €</label>
								<input type="number" name="importo" step="0.01" min="0">
							</div>
							<div class="input-field">
								<label>Descrizione</label>
								<input type="text" name="descrizione">
							</div>
						</div>
						<div class="col s6 m6">
							<div class="input-field">
								<table>
									<tbody>
										{% for nome in nomi %}
										<tr>
											<td>{{ nome[0] }}</td>
											<td><input type="number" name="{{ nome[0] }}" value="1" min="0"></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<button type="submit" class="waves-effect waves-light btn blue">Aggiungi</button>
					</form>
				</div>
			</div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
			  <table>
		        <tbody>
		          {% for nome in nomi %}
					<tr class="
					  {% if(nome[1] < 0) %}
					  {{ 'red darken-4' }}
					  {% endif %}
					  {% if(nome[1] > 0) %}
					  {{ 'green darken-4' }}
					  {% endif %}
					  ">
					  <td>{{ nome[0] }}</td>
					  <td>{{ "{0:.2f}".format(nome[1]) }} €</td>
					</tr>
		          {% endfor %}
		        </tbody>
		      </table>
            </div>
          </div>
         </div>
        </div>
      </div>
</body>
