<!doctype html>
<head>
	<title>homeDictator</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="{{ url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/material-icon.css')}}" rel="stylesheet">
	<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/materialize.min.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
	<script>
		 $(document).ready(function() {
		$('select').material_select();
		$('.button-collapse').sideNav();
	  });
	</script>
</head>
<body>
	{%include 'navbar_sidebar.html'%}
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content white-text">
					<table class="">
						<thead>
							<tr>
								<th>
								Creditore
								</th>
								<th>
								Importo
								</th>
								<th>
								Data
								</th>
								<th>
								Descrizione
								</th>
							</tr>
						</thead>
						<tbody>
							{% for entry in lista %}
							<tr>
								<td>
										{{ entry.nome }}
								</td>
								<td>
										{{ "{0:.2f}".format(entry.importo) }} €
								</td>
								<td>
										{{ entry.data }}
								</td>
								<td>
										{{ entry.descrizione }}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>