	{% if todo|length > 0%}
	<ul id="dropdownnav" class="dropdown-content">
		{% for attivita in todo %}
		<li><a href="#!">{{ attivita }}</a></li>
		{% endfor %}
	</ul>
	<ul id="dropdownside" class="dropdown-content">
		{% for attivita in todo %}
		<li><a href="#!">{{ attivita }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	<nav class="grey darken-3">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center"><i class="material-icons left" id="home-dict">home</i>Dictator</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/cancella"><i class="material-icons left">delete_sweep</i></a></li>
				<li><a href="/spesa"><i class="material-icons" title="Spesa">shopping_cart</i></a></li>
				<li><a href="/lista_spese"><i class="material-icons" title="Lista movimenti">attach_money</i></a></li>
				{% if todo|length > 0%}
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button red waves-effect waves-light style-neighborhood" href="#!" id="dropnav" data-activates="dropdownnav">{{ todo|length }} da fare<i class="material-icons right">arrow_drop_down</i></a></li>					
				{% endif %}

			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down white-text">
			{% if not nome %}
			<li><a href="/login"><i class="material-icons left">perm_identity</i>Login</a></li>
			</ul>
			{%else%}

			<li><a href="/user"><img src="/images/{{nome}}.jpg" id="avatar" class="circle image-responsive"></a></li>
			<li><a href="/user"><span class="white-text " style="margin-right: 10px;"><b >{{nome}}</b></span></a></li>
			</ul>

			{% endif %}
			<ul class="side-nav grey darken-3 white-text" id="mobile-demo">
				<li class="white-text"><div class="userView">
					<div class="background">
						<img src="{{ url_for('static',filename='img/low-poly.jpg')}}">
					</div>
						{% if nome %}
						<a href="/user"><img class='circle' src="/images/{{nome}}.jpg"></a>
						<a href="/user">{{nome}}</span></a>
						{% else %}
						<a href="/login"><img class='circle' src="{{ url_for('static',filename='img/avatar.jpg')}}" ></a>
						{% endif %}
					</div></li>
				<li ><a href="/" class="white-text"><i class="material-icons left white-text">home</i>Home</a></li>
				{% if not nome %}
				<li><a href="/login" class="white-text"><i class="material-icons left white-text">perm_identity</i>Login</a></li>
				{%else%}
				<li><a href="/user" class="white-text"><i class="material-icons left white-text">perm_identity</i>Account</a></li>
				{%endif%}
				<li class="divider"></li>
				<li><a href="/cancella" class="white-text"><i class="material-icons left white-text">delete_sweep</i>Lista attività</a></li>
				<li><a href="/spesa" class="white-text"><i class="material-icons white-text" title="Spesa">shopping_cart</i>Lista della spesa</a></li>
				<li><a href="/lista_spese" class="white-text"><i class="material-icons white-text" title="Lista movimenti">attach_money</i>Gestione soldi</a></li>
				{% if todo|length > 0%}
				<!-- Dropdown Trigger -->
				<li><a class="dropdown-button red white-text" href="#!" id="dropbar" data-activates="dropdownside">{{ todo|length }} da fare<i class="material-icons right white-text">arrow_drop_down</i></a></li>					
				{% endif %}
				{%if nome%}
				<li class="divider"></li>
				<li><a href="/lista_spese" class="white-text"><i class="material-icons white-text" title="Lista movimenti">exit_to_app</i>Logout</a>
				{%endif%}

				
			</ul>
		</div>
	</nav>