<!doctype html>
<head>
	<title>{{nome}} - profilo</title>
	{%include 'links.html'%}
	<script src="{{ url_for('static',filename='js/dropzone.js')}}"></script>
	<link href="{{ url_for('static',filename='css/dropzone.css')}}" rel="stylesheet" type="text/css">
	<script>
		$(document).ready(function() {
			$('select').material_select();
			$('.button-collapse').sideNav();
			$('#dropnav').dropdown({ hover: true, belowOrigin: false });
			$('#dropbar').dropdown({ hover: false, belowOrigin: false });
		});
	</script>
</head>
<body>
	{%include 'navbar_sidebar.html'%}
	<div class="container">
        <!-- Page Content goes here -->
		<div class="row">
			<div id="user-title" class="col s12">
				<h5 class="grey-darken-3 white-text" >
				Gestisci il tuo account 
			</h5>
			</div>
			<div class="col s12 m4">
				<div class="card center-align">
					<div class="card-content white-text center-align">
						<img class="responsive-img center-align circle" src="/images/{{nome}}.jpg">
						<div class="row">
						<div class="col s8 m12 offset-s2 pull-m2">
							<div class="collection grey-darken-3">
					            <a href="/logout" class="btn-flat waves-effect waves-dark  lighten-5 collection-item"><i class="material-icons">exit_to_app</i> Esci</a>
					            <a class="collection-item" href="#cambia-avatar">Cambia avatar</a>
					            <a class="collection-item" href="#!">Cambia password</a>
					            <a class="collection-item" href="#!">Fai danni</a>
					        </div>
				        </div>
				        </div>
					</div>
				</div>
			</div>
			<div class="col s12 m8">
				<div class="card">
					<div class="card-content white-text">
					<p class="flow-text">One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.

						To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use the button above to toggle off/on flow-text to see the difference!</p>
					</div>
				</div>
				<div class="card small" id="cambia-avatar">
					<div class="card-content">
					<span class="card-title white-text">Cambia avatar</span>
					<div class="row">
						<div class="col s12 center-align">
						<form class="dropzone" id="my-awesome-dropzone" method="POST" action="/change-avatar" enctype="multipart/form-data">
						<script type="text/javascript">

							Dropzone.options.myAwesomeDropzone = {
								  method:"POST",
								  paramName: "file", // The name that will be used to transfer the file
								  maxFilesize: 3,
								  parallelUploads: 1,
								  uploadMultiple: false,
								  maxFiles:1,
								  acceptedFiles: "image/jpeg,image/png,image/gif",
								  addRemoveLinks: false,
								  dictResponseError: 'Errore, controlla che il file rispetti i limiti!',
								  dictFileTooBig:'File troppo grande',
								  dictMaxFilesExceeded:'Ricarica la pagina per cambiare di nuovo avatar',

								  init: function() {
								  	 this.on("error", function(file,errormessage, xhr){
								  	 	if (!file.accepted) {
								  	 		setTimeout(function(){
												this.removeFile(file);
											}, 2000);
								  	 		}
								  	 	});
								  	 this.on("success", function(file,errormessage, xhr){
								  	 	location.reload();
								  	 });
								  }
							}
							
						</script>
						<div class="dz-message" data-dz-message><span><b>Clicca qui</b>  o trascina un immagine per selezionare il nuovo avatar</span>
						<span style="font-size: 70%;"><br>È consigliata un'immagine quadrata. Massimo 650x650px che non superi i 3MB</span></div>
							<div class="fallback">
							    <input name="file" type="file" multiple />
							</div>
						</form>
						</div>
						</div>
						</div>
					</div>
			</div>
        </div>
    </div>

</body>
