<!doctype html>
<head>
	<title>homeDictator</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="{{ url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/material-icon.css')}}" rel="stylesheet">
	<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/Chart.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
	<script>
		 $(document).ready(function() {
		$('select').material_select();
		$('.button-collapse').sideNav();
		$('#dropnav').dropdown({ hover: true, belowOrigin: false });
		$('#dropbar').dropdown({ hover: false, belowOrigin: false });
	  });
	</script>
</head>
<body>
{%include 'navbar_sidebar.html'%}
	<div class="row">
		<div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
				muschio
            </div>
          </div>
			<div class="card">
				<div class="card-content white-text">
			  	  muaschio
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content white-text">
					muschio
				</div>
			</div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
			  muschio
            </div>
          </div>
        </div>
      </div>
</body>
