body{
	background-image: url("../img/dark_back.png")
	
}
.card {
	background-color: rgba(1,2,3,0)
}
table *{
	color: white; 
	background-color: rgba(1,2,3,0)
}
table tr{transition-duration: 0.2s}
table tr:hover{background-color: #111}

.right{
	float: right;
}
td{
	padding: 0 !important;
}